{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block metaTag %}
    <meta name="description" content="Liste de toute les formations présentes sur le site">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/table.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/formation/index.css') }}">
{% endblock %}

{% block body %}

    <h1>Liste des formations</h1>
    <table>
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Nombre de sessions</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                {# data-href="" = href pour tout les éléments en js #}
                <tr class="tablerow-hover row-link" data-href="{{ path('show_formation', {'id' : formation.id}) }}">
                    <td>{{ formation }}</td>
                    <td>{{ formation.sessions|length }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="edit-btn" href="{{ path('edit_formation', {'id': formation.id}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a class="delete-btn" href="{{ path('delete_formation', {'id': formation.id}) }}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            {% if is_granted('ROLE_ADMIN') %}
                <tr class="row-link tablerow-hover" data-href="{{ path('new_formation') }}">
                    <td class="new-btn" colspan="4">
                        <i class="fa-solid fa-plus"></i>
                        Ajouter une nouvelle formation
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    
{% endblock %}
