{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block metaTag %}
    <meta name="description" content="Liste de toute les formations présentes sur le site">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/table.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/formation/index.css') }}">
{% endblock %}

{% block body %}

    <h1>Liste des formations</h1>
    <table>
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Nombre de sessions</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                {# data-href="" = href pour tout les éléments en js #}
                <tr class="tablerow-hover row-link" data-href="{{ path('show_formation', {'id' : formation.id}) }}">
                    <td>{{ formation }}</td>
                    <td>{{ formation.sessions|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
