{% extends 'base.html.twig' %}

{% block title %}Détail formation{% endblock %}

{% block body %}

    <h1>{{ formation }}</h1>

    <h2>Sessions</h2>

    <table class="table w-50 text-center table-responsive">
        <thead>
            <tr>
                <th class="bg-primary text-white">Date de début</th>
                <th class="bg-primary text-white">Date de fin</th>
                <th class="bg-primary text-white">Places</th>
                <th class="bg-primary text-white">Places restantes</th>
                <th class="bg-primary text-white">Détail</th>
            </tr>
        </thead>
        <tbody>
            {% for session in formation.sessions %}
            <tr>
                <td class="bg-light">{{ session.getDateDebut }}</td>
                <td class="bg-light">{{ session.getDateFin }}</td>
                <td class="bg-light">{{ session.nbPlaces }}</td>
                <td class="bg-light">{{ (session.nbPlaces - session.getStagiaires|length) }}</td>
                <td class="bg-light">
                    <a class="text-decoration-none" href="{{ path('show_session', {'id' : session.id}) }}">
                        <i class="fa-solid fa-list-ul"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
