{% extends 'base.html.twig' %}

{% block title %}Détail formation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/table.css') }}">
{% endblock %}

{% block body %}

    <a class="goback-link" href="{{ path('app_formation') }}">
        <i class="fa-solid fa-arrow-left"></i>
        Liste des formations
    </a>

    <h1>{{ formation }}</h1>

    <h2>Sessions disponibles</h2>

    <table>
        <thead>
            <tr>
                <th colspan="2">Date</th>
                <th>Places</th>
                <th>Places restantes</th>
            </tr>
        </thead>
        <tbody>
            {% for session in formation.sessions %}
            <tr class="tablerow-hover row-link" data-href="{{ path('show_session', {'id' : session.id}) }}">
                <td colspan="2">{{ session.getDate }}</td>
                <td>{{ session.nbPlaces }}</td>
                <td>{{ (session.nbPlaces - session.getStagiaires|length) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
