{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/form.css') }}">
{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        <div id="cgu">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn">Inscription</button>

        <p class="security-redirect">Déjà inscrit(e) ? <a class="text-hover" href="{{path('app_login')}}">Connectez-vous</a></p>

        
    {{ form_end(registrationForm) }}

{% endblock %}
