{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/form.css') }}">
{% endblock %}

{% block body %}


{{ form_start(registrationForm) }}
        
        
        <h1>Inscription</h1>

        <div>
            {{ form_label(registrationForm.email) }}
            <div class="error">{{ form_errors(registrationForm.email) }}</div>
            {{ form_widget(registrationForm.email) }}
        </div>

        <div>
            {{ form_label(registrationForm.pseudo) }}
            <div class="error">{{ form_errors(registrationForm.pseudo) }}</div>
            {{ form_widget(registrationForm.pseudo) }}
        </div>

        <div>
            <div class="error">{{ form_errors(registrationForm.password) }}</div>
            {{ form_widget(registrationForm.password) }}
        </div>

        <div id="cgu">
            {{ form_label(registrationForm.agreeTerms) }}
            <div class="error">{{ form_errors(registrationForm.agreeTerms) }}</div>
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn">Inscription</button>

        <p class="security-redirect">Déjà inscrit(e) ? <a class="text-hover" href="{{path('app_login')}}">Connectez-vous</a></p>

        
    {{ form_end(registrationForm) }}

{% endblock %}
