{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}

    <h1>Liste de stagiaires</h1>

    <table class="table w-25 text-center table-responsive">
        <thead>
            <tr>
                <th class="bg-primary text-white">Nom</th>
                <th class="bg-primary text-white">Prénom</th>
                <th class="bg-primary text-white">Ville</th>
            </tr>
        </thead>
        <tbody>

        {% for stagiaire in stagiaires %}
            <tr>
                <td class="bg-light">
                    <a class="bg-light text-decoration-none" href="#">{{ stagiaire.nom }}</a>
                </td>
                <td class="bg-light">
                    <a class="bg-light text-decoration-none" href="#">{{ stagiaire.prenom }}</a>
                </td>
                <td class="bg-light">{{ stagiaire.ville }}</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>

    {# SHOW #}
    {# <ul>
        <li>Nom : {{ stagiaire.nom }}</li>
        <li>Prénom : {{ stagiaire.prenom }}</li>
        <li>Courriel : {{ stagiaire.courriel }}</li>
        <li>Âge : {{ stagiaire.getAge }}</li>
        <li>Ville : {{ stagiaire.ville }}</li>
        <li>Téléphone : {{ stagiaire.telephone }}</li>
        <li>Sexe : {{ stagiaire.sexe }}</li>
    </ul>

    <ul>
        {% for session in stagiaire.sessions %}
            <li>{{ session.formation "(" . session.dateDebut . " au " . session.dateFin . ")" }}</li>
        {% endfor %}
    </ul> #}

{% endblock %}
