{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/table.css') }}">
{% endblock %}

{% block body %}

    <h1>Liste de stagiaires</h1>

    <table>
        <thead>
            <tr>
                <th colspan="2">Nom</th>
                <th>Ville</th>
                {# si l'utilisateur est admin #}
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

        {% for stagiaire in stagiaires %}
            <tr class="tablerow-hover row-link" data-href="{{ path('show_stagiaire', {'id' : stagiaire.id}) }}">
                <td colspan="2">{{ stagiaire.nom|upper ~ " " ~ stagiaire.prenom|capitalize }}</td>
                <td>{{ stagiaire.ville }}</td>
                {# si l'utilisateur est admin #}
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a class="delete-btn" href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        {# on affiche le bouton d'ajout de nouveau stagiaire si l'utilisateur est connecté et admin #}
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td class="new-btn row-link" colspan="5" data-href="{{ path('new_stagiaire') }}">
                    <i class="fa-solid fa-plus"></i>
                    Ajouter un nouveau stagiaire
                </td>
            </tr>
        {% endif %}
        
        </tbody>
    </table>
{% endblock %}
