{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block metaTag %}
    <meta name="description" content="Liste de toute les sessions ainsi que leurs formations">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/table.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/session/index.css') }}">
{% endblock %}

{% block body %}

    <h1>Liste des sessions</h1>
    <table>
        <thead>
            <tr>
                <th colspan="2">Date</th>
                <th>Places</th>
                <th colspan="{{ is_granted('ROLE_ADMIN') ? 2 : 1 }}">Places restantes</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}

                <tr class="formation row-link" data-href="{{ path('show_formation', {'id' : formation.id}) }}">
                    <td colspan="{{ is_granted('ROLE_ADMIN') ? 5 : 4 }}">{{ formation.intitule }}</td>
                </tr>

                {# si il a des sessions programmées sur cette formation: #}
                {% if formation.sessions|length > 0 %}
                    {# pour chaque sessions de cette formation: #}
                    {% for session in formation.sessions %}
                        <tr class="tablerow-hover row-link" data-href="{{ path('show_session', {'id' : session.id}) }}">
                            <td colspan="2">{{session.getDate}}</td>
                            <td>{{ session.nbPlaces }}</td>
                            <td>{{ (session.nbPlaces - session.getStagiaires|length) }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="delete-btn" href="{{ path('delete_session', {'id': session.id}) }}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            {% endif %}
                            
                        </tr>
                    {% endfor %}

                    {# si il n'y a aucune session programmée pour cette formation #}
                    {% else %}
                        <tr>
                            <td>Aucune session programmée</td>
                        </tr>
                {% endif %}
            {% endfor %}

            {# on affiche le bouton d'ajout de nouvelle session si l'utilisateur est connecté et admin #}
            {% if is_granted('ROLE_ADMIN') %}
                <tr class="row-link tablerow-hover" data-href="{{ path('new_session') }}">
                    <td class="new-btn" colspan="5">
                        <i class="fa-solid fa-plus"></i>
                        Ajouter une nouvelle session
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}
