{% extends 'base.html.twig' %}

{% block title %}Détail session{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/table.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/session/show.css') }}">
{% endblock %}

{% block body %}

    <a class="goback-link" href="{{ path('app_session') }}">
        <i class="fa-solid fa-arrow-left"></i>
        Liste des sessions
    </a>

    <div id="prog-and-stags">

        <div id="programmes">
            <h1>
                Session du {{ session.getDate }}
                <a class="text-hover" href="{{ path('show_formation', {'id' : session.formation.id}) }}">({{session.formation}})</a>
            </h1>

            <h2>Programme de la formation</h2>
            <table>
                <thead>
                    <tr>
                        <th>Catégorie</th>
                        <th>Module</th>
                        <th colspan="{{ is_granted('ROLE_ADMIN') ? 2 : 1 }}">Durée en jours</th>
                    </tr>
                </thead>

                <tbody>
                    {# ------------------------------------------------------------------------------------------------ #}
                    {# ------------------------------------------ Programmes ------------------------------------------ #}
                    {% if session.programmes|length < 1 %}
                        <tr>
                            <td>Aucune session pour le moment</td>
                        </tr>
                        {% else %}
                            {% for programme in session.programmes %}
                            <tr class="tablerow-hover">
                                <td>{{ programme.module.categorie }}</td>
                                <td>{{ programme.module }}</td>
                                <td>{{ programme.nbJours }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a class="delete-btn" href="{{ path('remove_module_from_session', {'id' : programme.id, 'sessionId' : session.id}) }}">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        {# ------------------------------------------------------------------------------------------------ #}
        {# -------------------------------------- Stagiaires inscrits ------------------------------------- #}
        <div id="stagiaires">

            <div id="stagiaires-inscrits">                
                <h3>Stagiaire(s) inscrit(s) à la session (total: {{session.stagiaires|length}})</h3> 
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th colspan="{{ is_granted('ROLE_ADMIN') ? 2 : 1 }}">Ville</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% if session.stagiaires|length < 1 %}
                            <tr>
                                <td>Aucun stagiaire pour le moment</td>
                            </tr>
                        {% else %}
                            {% for stagiaire in session.stagiaires %}
                                <tr class="tablerow-hover row-link" data-href="{{ path('show_stagiaire', {'id' : stagiaire.id}) }}">
                                    <td>{{ stagiaire.nom ~ " " ~ stagiaire.prenom }}</td>
                                    <td>{{ stagiaire.ville }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="delete-btn" href="{{ path('remove_stagiaire_from_session', {'id' : session.id, 'idStagiaire' : stagiaire.id}) }}">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    
                    </tbody>
                </table>
            </div>
    
    
            {# ------------------------------------------------------------------------------------------------ #}
            {# ----------------------------------- Stagiaires non inscrits ------------------------------------ #}
    
            {% if is_granted('ROLE_ADMIN') %}
        
                <div id="stagiaires-noninscrits">
                    <h3>Stagiaires non inscrits (total: {{stagiairesNonInscrits|length}})</h3>
    
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th colspan="{{ is_granted('ROLE_ADMIN') ? 2 : 1 }}">Ville</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for stagiaire in stagiairesNonInscrits %}
                                <tr class="tablerow-hover row-link" data-href="{{ path('show_stagiaire', {'id' : stagiaire.id}) }}">
                                    <td>
                                        {{ stagiaire.nom|upper ~ " " ~stagiaire.prenom|capitalize }}
                                    </td>
                                    <td>{{ stagiaire.ville }}</td>
                                    <td>
                                        <a class="text-hover" href="{{ path('add_stagiaire_to_session', {'id' : session.id, 'idStagiaire' : stagiaire.id}) }}">
                                            <i class="fa-solid fa-plus"></i>
                                            Ajouter à la session
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

        </div>
    </div>

    {# ------------------------------------------------------------------------------------------------ #}
    {# -------------------------------------- Modules ajoutables -------------------------------------- #}


    <div id="modules-noninscrits">
        <h3>Module ajoutables (total: {{modulesNonUtilisés|length}})</h3>     

        <table>
            <thead>
                <tr>
                    <th>Intitulé</th>
                    <th colspan="2">Nombre de jours</th>
                </tr>
            </thead>
            <tbody>
                {% for module in modulesNonUtilisés %}
                    <tr class="tablerow-hover">
                        <td>
                            {{ module }}
                        </td>
                        <td colspan="2">
                            <form action="{{ path('add_module_to_session', {'id' : session.id, 'idModule' : module.id}) }}" method="POST" autocomplete="off">
                                <input type="number" name="nbJours" min="0" max="999" required>
                        
                                <input type="submit" name="submit" value="Ajouter" class="row-link" data-href="{{ path('add_module_to_session', {'id' : session.id, 'idModule' : module.id}) }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}

{% endblock %}
