{% extends 'base.html.twig' %}

{% block title %}Détail session{% endblock %}

{% block body %}

    <h1>Session du {{ session.getDate }}</h1>
    <h2><a class="text-dark text-decoration-none" href="{{ path('show_formation', {'id' : session.formation.id}) }}">({{session.formation}})</a></h2>

    <table class="table w-50 text-center table-responsive">
        <thead>
            <tr>
                <th class="bg-primary text-white">Catégorie</th>
                <th class="bg-primary text-white">Module</th>
                <th class="bg-primary text-white">Durée en jours</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="bg-primary text-white"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for programme in session.programmes %}
            <tr>
                <td class="bg-light">{{ programme.module.categorie }}</td>
                <td class="fw-bold bg-light">{{ programme.module }}</td>
                <td class="bg-light">{{ programme.nbJours }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="bg-light">
                        <a href="{{ path('remove_module_from_session', {'id' : programme.id, 'sessionId' : session.id}) }}">
                            <i class="fa-solid fa-trash"></i>    
                            Supprimer de la session
                        </a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2>Stagiaire(s) inscrit(s) à la session (total: {{session.stagiaires|length}})</h2>
        
    <table class="table w-25 text-center table-responsive">
        {% for stagiaire in session.stagiaires %}
            <tr class="bg-light">
                <td>
                    <a class="text-decoration-none" href="{{ path('show_stagiaire', {'id' : stagiaire.id}) }}">{{ stagiaire.nom ~ " " ~ stagiaire.prenom }}</a>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a class="text-decoration-none" href="{{ path('remove_stagiaire_from_session', {'id' : session.id, 'idStagiaire' : stagiaire.id}) }}">Supprimer de la session</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <h2>Stagiaires non inscrits (total: {{stagiairesNonInscrits|length}})</h2>
        <table class="table w-25 text-center table-responsive">
            {% for stagiaire in stagiairesNonInscrits %}
                <tr class="bg-light">
                    <td>
                        <a class="text-decoration-none" href="{{ path('show_stagiaire', {'id' : stagiaire.id}) }}">
                            {{ stagiaire.nom|upper ~ " " ~stagiaire.prenom|capitalize }}
                        </a>
                    </td>
                    <td class="bg-light">
                        <a class="text-decoration-none" href="{{ path('add_stagiaire_to_session', {'id' : session.id, 'idStagiaire' : stagiaire.id}) }}">
                            <i class="fa-solid fa-plus"></i>
                            Ajouter à la session
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2>Module ajoutables (total: {{modulesNonUtilisés|length}})</h2>        
        <table class="table w-50 text-center table-responsive">
            <thead>
            </thead>
            <tbody>
                {% for module in modulesNonUtilisés %}
                    <tr class="bg-light">
                        <td>
                            {{ module }}
                        </td>
                        <td>
                            <form action="{{ path('add_module_to_session', {'id' : session.id, 'idModule' : module.id}) }}" method="POST" autocomplete="off">
                                <input class="form-control form-control-sm" type="number" name="nbJours" placeholder="Nombre de jours" min="0" required>
                                <a href="{{ path('add_module_to_session', {'id' : session.id, 'idModule' : module.id}) }}">
                                    <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Ajouter à la session">
                                </a>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
