<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('app_session') }}">Sessions</a>
                </li>
                {% if app.user %}
                {# si il y a un utilisateur connecté #}
                    <li>
                        <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    {# si l'utilisateur est admin #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="">Admin</a>
                        </li>
                    {% endif %}
                {% else %}

                {# si il n'y a aucun utilisateur connecté #}
                    <li>
                        <a href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    <li>
                        <a href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                {% endif %}

            </ul>
        </nav>

        {% block body %}
        {% endblock %}
    </body>
</html>
